.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width:100%;
  position: relative;


}

.main-center {
  width: 90%;

}

.d-none{
  display: none;
}

