.about-container{
  display: flex;
  width:100%;
  height:90vh;
  background-color: $background-color;

  .about-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:50%;
    text-align: center;


    .about-text-center{
      width:80%;


      h2,p,img{
        margin:1rem;
        color:$text-main-color;
      }

      h2{
        font-size: 2rem;
      }

      img.about-decoration{
        max-width: 100%;
        width: 30%;
      }

      p{
        position:relative;
      }
      .about-signature{
        width:15%;
        height:15%;
        position:absolute;
        left:30%;
      }
    }
  }

  .about-bg{
    max-width: 50%;
    width:50%;
    height:100%;
    background: url("../../../assets/People.jpg")no-repeat center/cover;
  }
}