.steps-container {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    color: $text-main-color;
    padding:2rem;
    display: inline-block;
  }
  img.steps-decoration {
    max-width: 100%;
    width: 15%;
    margin:2rem;
  }

  .link-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width:15%;
    height:20%;
    padding:0 10rem;
  }
}

.steps-precise {
  display: flex;

  background: $background-color;
  width: 100%;
  justify-content: center;
  align-items: center;
  height:50%;




  article {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    color: $text-main-color;

    h3, p, img {
      padding: 1rem;
    }


    h3 {
      position: relative;
      width: 100%;

      &:after {
        content: '';

        border-bottom: 2px solid $text-secondary-color;
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 40%;
        transform: translate(-50%);
      }
    }

    p {
      font-size: 1rem;
    }


  }
}